<!DOCTYPE html>
<html>
    <%- include('../defaults/head', { pageTitle: 'Calculator' }) %>
    <body>
        <link rel="stylesheet" href="/styles.css"/>
        <%- include('../defaults/navbar') %>
        <main>
            idk bro
        </main>
    </body>
</html>
