<!DOCTYPE html>
<html>
    <%- include('defaults/head', { pageTitle: 'Home' }) %>
    <body>
        <link rel="stylesheet" href="/styles.css"/>
        <%- include('defaults/navbar') %>
        <main class="m-4">
            <h1>Credits:</h1>
            <h3>Icons - <a href="https://fontawesome.com/">Font Awesome</a></h3>
        </main>
    </body>
</html>
